################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FT_LOAN_DOC_JOB/FileContentIndex/497399b3-2eb5-4845-bfd5-5ca7dff3447f.vsidx
/.vs/FT_LOAN_DOC_JOB/FileContentIndex/e8136df1-742f-4bce-8aa2-e98125f53882.vsidx
