################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FT_LOAN_DOC_JOB/FileContentIndex/497399b3-2eb5-4845-bfd5-5ca7dff3447f.vsidx
/.vs/FT_LOAN_DOC_JOB/FileContentIndex/e8136df1-742f-4bce-8aa2-e98125f53882.vsidx
/.vs/FT_LOAN_DOC_JOB/FileContentIndex/f6b66106-3cef-40f8-a6cb-e0e5a7e6bd71.vsidx
/.vs/FT_LOAN_DOC_JOB/CopilotIndices/17.14.1204.46620/CodeChunks.db-shm
/.vs/FT_LOAN_DOC_JOB/CopilotIndices/17.14.1204.46620/CodeChunks.db-wal
/.vs/FT_LOAN_DOC_JOB/CopilotIndices/17.14.1204.46620/SemanticSymbols.db-shm
/.vs/FT_LOAN_DOC_JOB/CopilotIndices/17.14.1204.46620/SemanticSymbols.db-wal
